@import '../styles/variables.scss';

.header { 
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: auto;
}
.nav-wrapper {
  margin-left: 150px;
}
.title-wrapper {
  @include flex-center;
}
.header-title {
  margin: 60px auto;
  color:white;
}
