@import '../styles/variables.scss';

.nav-bar {
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
}
a {
  font-size: 12px;
  font-family: $font-family;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
  &.white {
    color: white;
  }
  &.black {
    color: black;
  }
}

